<div *ngIf="gifs.length > 0; else noInfo" class="row">
  <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">
      <img
        [src]="gif.images.downsized_medium.url"
        [alt]="gif.title"
        class="card-img-top"
      />
      <div class="card-body text-white">
        <p class="card-text">{{ gif.title }}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #noInfo>
  <p class="alert alert-secondary text-center mt-5 mx-5 px-5">
    No se encontraron elementos
  </p>
</ng-template>
